.home-wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;

    .login-btn, .admin-btn {
        padding: 2rem;
        margin-left: 90%;
        margin: 2rem;
    }
}
